.gradle
build
account-service/build
bill-service/build
config-service/build
deposit-service/build
gateway/build
notification-service/build
registry/build

account-service/.gradle
bill-service/.gradle
config-service/.gradle
deposit-service/.gradle
gateway/.gradle
notification-service/.gradle
registry/.gradle

.idea

notification-service/src/main/resources/mail-prop.properties